<?xml version="1.0"?>
<!--
Web.config file for web_form02.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
        <customErrors mode="On" defaultRedirect="Cache1.aspx">
            <error statusCode="403" redirect="Cache3.aspx"></error>
            <error statusCode="404" redirect="Cache2.aspx"></error>
        </customErrors>
        <trace enabled="true" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>